<ion-view class="welcome-view" cache-view="false">
    <ion-content scroll="false" class="splash padding">
        <div class="top-content row">
            <div class="shop-logo item item-image" style="border:none;margin-top:200px; background:transparent;margin-left: auto;margin-right: auto">
                <img src="img/shoneys_logo.png" style="width: 200px;">
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-bottom">
                <div class="row no-padding">
                    <div class="col col-50 no-padding" style="padding-right:5px !important">
                        <p class="register-via">Register via</p>
                        <a class="button button-block" style="font-weight: 500;color: #FFF;background-color: #ee2e24;border-color: #ee2e24;font-family: 'SFUIDisplayLight';font-size: 24px;" ng-click="facebookSignIn()">
                            Facebook
                        </a>
                    </div>
                    <div class="col col-50 no-padding" style="padding-left:5px !important">
                        <p class="register-via">Register via</p>
                        <a class="button button-block" style="font-weight: 500;color: #ee2e24;background-color: #FFF;border-color: #FFF;font-family: 'SFUIDisplayLight';font-size: 24px;">
                            Mail
                        </a>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        
                        <a class="button button-block button-positive" style="font-weight: 500;color: #FFF;background-color: #535158;border-color: #535158;font-family: 'SFUIDisplayLight';font-size: 24px;">
                            Skip
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>