@font-face {
    font-family: 'SFUIDisplayLight';
    src: url('fonts/SFUIDisplayLight.eot');
    src: url('fonts/SFUIDisplayLight.eot') format('embedded-opentype'),
         url('fonts/SFUIDisplayLight.woff2') format('woff2'),
         url('fonts/SFUIDisplayLight.woff') format('woff'),
         url('fonts/SFUIDisplayLight.ttf') format('truetype'),
         url('fonts/SFUIDisplayLight.svg#SFUIDisplayLight') format('svg');
}
